:root {
  --dark: #01161e;
  --darkish: #124559;
  --medium: #598392;
  --lighter: #aec3b0;
  --lightest: #eff6e0;
}

:root {
  background-color: var(--medium);
  color: var(--lightest);
  font-size: 65%;
}

* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5.4rem;
  color: var(--lightest);
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.container {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.button {
  font-size: 2rem;
  padding: 2rem;
  width: 20rem;
  text-align: center;
  border: 1px solid var(--darkish);
  border-radius: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--lighter);
  background-color: #01161e;
}

.button:hover {
  cursor: pointer;
  background-color: var(--lightest);
  color: var(--dark);
  transition: 350ms;
}

.button[disabled]:hover {
  cursor: not-allowed;
  transform: none;
}
